<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/projet java cmd-project/src/programme/Programme.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="programme.Programme"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="projet java cmd-project"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dma.nouvelle.entree=c:\temp"/>
</launchConfiguration>
